body{
    
    margin: 0px;
    display: grid;
}

.header-grid{
    font-family: 'Roboto', sans-serif;
    position: sticky;
    top: 0px;
    display: grid;
    grid-template-columns: 20% 15% 15% 15%;
    height: 100%;
    height: 40px;
    background-color: rgb(116, 116, 116);
}

header{
    height: 300px;
}

.header-grid-item{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    transition: 0.15s;
}

.header-grid-item:hover{
    transition: 0.2s;
    background-color: rgb(51, 51, 51);
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    transition: 0.3;
    color: whitesmoke;
}

.title{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

main{
    font-family: 'Roboto', sans-serif;
    display: grid;
    width: 75%;
    justify-self: center;
}

.kiemelt-info{
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.551);
    padding: 5px;
    border-left: 10px solid red;
    transition: 0.2s;
}
.kiemelt-info:hover{
    transition: 0.4s;
    border-left: 20px solid green;
    background-color: rgba(0, 128, 0, 0.505);
}

.grid-jaratok{
    display: grid;
    grid-template-columns: repeat(7, auto);
    border: solid 1px black;
    padding: 5px;
    border-radius: 15px;
}

table{
    width: 300px;
}

footer{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 10px 0px 10px 0px;
}

#item1{
    padding-left: 10px;
    padding-top: 5px;
}